.container {
            display: grid;
            
            /* 그리드 갯수,크기 조정 */
            grid-template-rows: 100px 800px 150px 300px 100px;
            grid-template-columns: repeat(3, 1fr);
            
            /* 그리드 템플릿 */
            grid-template-areas:
            
                "header header header"
                "main   main   main"
                "menu   menu   menu"
                "plus   plus   plus"
                "footer footer footer";
}

/* grid-area이름을 지정한다 */
header { 
    grid-area: header;
    display: flex;
    justify-content: space-around;
}
header h2{
    color: darkblue;
}

header div{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
}
header a{
    margin: 5px;
    text-decoration: none;
}
header b{
    color: black;
}
.button{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 80px;
    height: 30px;
    text-align: center;
    text-decoration: none;
}
.icon{
    font-size: 25px;
    color: black;
}
main   { 
    grid-area: main; 
    text-align: center;
    background-color: rgb(242, 242, 247);

    display: flex;
    flex-direction: column;
    align-items: center;
}
footer { 
    grid-area: footer; 
    text-align: center;
    color: gray;
}
footer a{
    color: black;
    text-decoration: none;
}
main .area a{
    width: 300px;
    box-shadow: 10px 10px 5px rgb(212, 208, 208);
    text-decoration: none;
    color: black;
}
.area{
    width: 1000px;
    display: flex;
    justify-content: center;
}
.area a{
    background-color: white;
    width: 300px;
    height: 400px;
    margin: 10px;
    transition: 1s ease;
}
main p{
    font-size: 2.5em;
    color: darkblue;
}
.area a:hover{
    height: 425px;
    transform: translateY(-25px);
    transition: 0.5s ease;
}
.money{
    color: #47bbe2;
}
.money_decor{
    color: #47bbe2;
    font-size: 0.6em;
}
.explain{
    color: gray;
    font-size: 1em;
}
.menu{
    grid-area: menu;
    display: flex;
    justify-content: center;
}
.menu_box{
    background: white;
    /* border: 1px solid; */
    width: 1000px;
    height: 150px;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(212, 208, 208);

    position: relative;
    top: -70px;
    /* left: 440px; */
    
    display: flex;
    justify-content: space-around;
}
.menu_box a{
    text-decoration: none;
    color: black;
}

.plus{
    grid-area: plus;
    display: flex;
    justify-content: center;
}
.announcement{
    background-color: rgb(231, 229, 229);
    width: 300px;
    height: 200px;
    border-radius: 3px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}
.announcement p{
    color: gray;
}
.announcement .fa-plus{
    color: black;
}
.announcement_text a{
    text-decoration: none;
    color: gray;
}
.call{
    margin-left: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.call a{
    text-decoration: none;
}
.call .call_box1{
    display: flex;
}
.call .call_box2 p:nth-of-type(odd){
    color: black;
    font-weight: bold;
}
.call .call_box2 p:nth-of-type(even){
    color: gray;
}
