.container {
            border: 1px solid black;
            display: grid;
            
            /* 그리드 갯수,크기 조정 */
            grid-template-rows: 130px 600px 800px 400px;
            grid-template-columns: repeat(3, 1fr);
            
            /* 그리드 템플릿 */
            grid-template-areas:
            
                "header header header"
                "main   main   main"
                "aside  aside  aside"
                "footer footer footer";
}

/* grid-area이름을 지정한다 */
header { 
    grid-area: header;
    background-color:beige;

    display: flex;
    justify-content: space-around;
}
.logo{
    width: 70px;

    position: absolute;
    top: 35px;
}
.fa-magnifying-glass{
    color: black;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menu1 a{
    text-decoration: none;
    color: gray;
    margin: 10px;
}
.menu1 a:hover{
    text-decoration: underline;
}
.menu2 a{
    text-decoration: none;
    color: gray;
    margin: 10px;
    padding: 20px;
}
.menu2 a:hover{
    text-decoration: underline;
    color: darkgreen;
    background-color: black;
    
}
main   { 
    grid-area: main; 
    border: 1px solid black;  

    background: url(../images/lunar.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.fixed{
    position: fixed;
    width: 300px;
    height: 200px;
    top: 140px;
    right: 75px;
    z-index: 10;
}
.fixed div:nth-of-type(1){
    background-color: darkgreen;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin: 5px;
}
.fixed div:nth-of-type(2){
    background-color: green;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin: 5px;
}
.fixed a:nth-of-type(1){
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fixed a:nth-of-type(2){
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.fixed img:nth-of-type(1){
    width: 50px;
}
.fixed img:nth-of-type(2){
    width: 5px;
}
.fixed a div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tea{
    position: absolute;
    left: -300px;
    top: 200px;
    animation: anima1 2s ease-in-out;
    animation-fill-mode: forwards; /*마지막 위치 고정*/
}
.slide{
    color: white;
    width: 400px;

    position: relative;
    top: 200px;
    right: -2000px;

    animation: anima2 2s ease-in-out;
    animation-fill-mode: forwards; /*마지막 위치 고정*/
}
.button{
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}
aside  { 
    grid-area: aside; 
    border: 1px solid black; 

    background: url(../images/cafe.jpg) fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.explain{
    color: white;
    text-align: center;
}
.explain b:nth-of-type(1){
    font-size: 70px;
}
.explain b:nth-of-type(2){
    font-size: 60px;
}
.explain b:nth-of-type(3){
    font-size: 30px;
}
.button2{
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.image img{
    width: 300px;
    border: 10px solid white;
}
.image1{
    transform: rotate(-20deg);

    position: relative;
    right: -40px;
}
.image3{
    transform: rotate(20deg);

    position: relative;
    left: -40px;
}
footer { 
    grid-area: footer; 
    background-color: rgb(58, 54, 54);
}
.footer_menu{
    display: flex;
    justify-content: center;
}
.footer_menu div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    color: white;
    margin: 40px;
}
.footer_menu div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    color: white;
    margin: 40px;
}
.footer_menu div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    color: white;
    margin: 40px;
}
.footer_menu div:nth-of-type(4){
    display: flex;
    flex-direction: column;
    color: white;
    margin: 40px;
}
.footer_menu div:nth-of-type(5){
    display: flex;
    flex-direction: column;
    color: white;
    margin: 40px;
}
.footer_menu a{
    color: white;
    text-decoration: none;
}
@keyframes anima1 {
    from{
        transform: translate(0, 0);
    }to{
        transform: translate(1000px, 0);
    }
}
@keyframes anima2 {
    from{
        transform: translate(0, 0);
    }to{
        transform: translate(-1000px, 0);
    }
}
