.container {
            display: grid;
           
            grid-template-rows: 80px 1500px 100px;
            grid-template-columns: repeat(3, 1fr);
            
            grid-template-areas:
            
                "header header header"
                "main   main   main"
                "footer footer footer";
}

/* header */
header { 
    grid-area: header; 
    background-color:white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 20;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .menu a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/* main */
main   { 
    grid-area: main;  
}

/* background */
.background{
    background: url(./images/clouds.jpg) fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.background b{
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px black;
}

/* about me */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}
.about h1{
    font-weight: 1000;
    font-size: 40px;
}
.about .about_explain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}
.about .about_explain .explain{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 200px;
    width: 1000px;
}
.about section{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 200px;
}
.about section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}
.about section div p{
    color: gray;
}
.about .fa-solid{
    font-size: 30px;
}
.about .fa-regular{
    font-size: 100px;
}

/* project */
.project{
    z-index: 10;
}
.project .vedeoBack > video{/*동영상 배경*/
    width: 100vw;
    height: 800px;
    opacity: 0.4;
    /* 억지로 사이즈 맞춰주는듯? */
    object-fit: cover;
    overflow: hidden;
}
.content{ /*동영상 배경 살짝 어둡게*/
    position: absolute;
    top: 780px;
    background-color: rgb(0, 0, 0, 0.442);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content h1{
    color: white;
    font-size: 40px;
    font-weight: 1000;
}
.website{
    border: 2px solid red;
    width: 1000px;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.website a{
    width: 400px;
    height: 200px;
    text-decoration: none;
    color: black;
    margin: 10px auto; /*좌우 마진 auto*/
    background-color: white;
    border-radius: 15px;
    text-align: center;

    transition: 0.2s ease-in-out;
}
.website a:hover{
    transform: scale(1.03);
}

/* footer */
footer { 
    grid-area: footer; 
    border: 1px solid black;
}